<main>
  <p id="notice"></p>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>投稿編集</h1>
  		<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <%= message %>error
  <% end %>
<% end %>
 <%= form_with model: @item, local:true do |f| %>
  <div>
    <label>Title</label>
    <p><%= f.text_field :title %></p>
  </div>
  <div>
    <label>Opinion</label>
    <p><%= f.text_area :body %></p>
  </div>
  <div>
    <%= f.submit 'Update Book' %>
  </div>
  		<% end %>
  <%= link_to "Show", item_path(@item.id) %>

|

<%= link_to "Back", items_path %>
  </div>
</div>
</div>
</main>